.company__img {
  width: 100%;
  min-height: 450px;
  background: url(../../../images/company-bg.jpg);
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 550px) {
  .company__img {
    min-height: 225px;
  }
}
