.configurator__card-text {
  padding: 0 32px;
  margin: 0 0 40px;
  color: #404040;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.74;
  z-index: 2;
}

@media screen and (max-width: 550px) {
  .configurator__card-text {
    padding: 0 16px;
  }
}
