.company__description {
  padding: 104px 80px;
  display: flex;
  flex-direction: column;
  background: #F2F6FB;
}

@media screen and (max-width: 1280px) {
  .company__description {
    padding: 80px 60px;
  }
}

@media screen and (max-width: 700px) {
  .company__description {
    padding: 60px 30px;
  }
}

@media screen and (max-width: 550px) {
  .company__description {
    padding: 46px 16px 56px;
  }
}
