.product__table {
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .product__table {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
