.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 73px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1439px) {
  .navigation__list {
    column-gap: 45px;
  }
}

@media screen and (max-width: 1200px) {
  .navigation__list {
    column-gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .navigation__list {
    column-gap: 10px;
    flex-wrap: nowrap;
  }
}
