.company__title {
  padding: 0;
  margin: 0 0 16px;
  max-width: 418px;
  color: #003154;
  font-weight: 600;
  font-size: 29px;
  line-height: 1.16;
}

@media screen and (max-width: 550px) {
  .company__title {
    font-size: 27px;
  }
}
