.configurator__card-title {
  padding: 0 32px;
  margin: 0 0 16px;
  color: #1E1E1E;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.10;
  z-index: 2;
}

@media screen and (max-width: 550px) {
  .configurator__card-title {
    font-size: 23px;
    padding: 0 16px;
  }
}
