.catalog__btn {
  margin: 0;
  padding: 0;
  max-width: 219px;
  width: 100%;
  min-height: 46px;
  border: none;
  background: #003154;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.48;
  transition: opacity .2s;
}

.catalog__btn:hover {
  cursor: pointer;
  opacity: .6;
}
