.configurator__description {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  max-width: 282px;
  align-self: end;
}

@media screen and (max-width: 550px) {
  .configurator__description {
    padding-bottom: 8px;
  }
}
