.statistics__item-title {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.20;
  z-index: 2;
}

@media screen and (max-width: 550px) {
  .statistics__item-title {
    font-size: 20px;
  }
}
