.product {
  padding: 80px 120px;
  display: flex;
  gap: 119px;
}

@media screen and (max-width: 1280px) {
  .product {
    padding: 70px 60px;
  }
}

@media screen and (max-width: 700px) {
  .product {
    padding: 60px 30px;
    flex-direction: column;
    gap: 36px;
  }
}

@media screen and (max-width: 550px) {
  .product {
    padding: 46px 16px 52px;
  }
}
